<div class="conter-wrapper">
	<div class="container-fluid home-page">
	<hr>
	
	
	<div class="col-md-6 calendar-col" >
				<div class="panel panel-primary" height="20%">
					<div class="panel-heading">
						<h3 class="panel-title">Welcome!</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 calendar-wrapper">
								<div class="today">
									<h2 class="date">{{date | date:'dd'}}</h2>  <span class="month">{{date | date:'MMMM'}}</span>
								</div>									
							</div>
							<div class="col-md-12" relink-event="resize">
								<div class="calendar-widget" ui-calendar ng-model="eventSources"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
	
	<div class="col-md-6 button-col">	
			<table class="table table-bordered">
	<thead>
		<tr>
			<th>Client</th>
			<th>Invoice #</th>
			<th>Discount</th>
			<th>Total</th>
			
		</tr>
	</thead>
	<tbody>
		<tr>
			
			<td>John Watson</td>
			<td>1345</td>
			<td>20%</td>
			<td>1520</td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
	
	
	
	
	
		<div class="col-md-12 button-col">	
			<table class="table table-bordered">
	<thead>
		<tr>
			<th>Select</th>
			<th>Client</th>
			<th>Invoice #</th>
			<th>Invoice Date</th>
			<th>Due Date</th>
			<th>Total Amount</th>
			<th>Status</th>
			<th>Discount Flat Rate</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="checkbox" />    &nbsp;   </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox" />    &nbsp;   </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox" />    &nbsp;   </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox" />    &nbsp;   </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox" />    &nbsp;   </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox" />    &nbsp;   </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox" />    &nbsp;   </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
		
			
			

	</div>
</div>